.header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* background: gray; */
  background-image: url(C:/Users/brikb/Downloads/Test/img/background.jpg);
  margin-bottom: 100px;
}
.menu{
  display: flex;
  align-items: center;
  &__item{
    padding: 10px 15px;
    margin-left: 10px;
    font-size: 18px;
    text-transform: uppercase;
  }
  &__img{
    width: 18px;
    height: 18px;
  }
}
.logo{
  border: 1px solid black;
  letter-spacing: 5px;
  font-size: 16px;
  font-family: sans-serif;
  padding: 15px;
}
