.block{
  display: flex;
  background: white;
}
.card{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding: 30px 15px 30px 15px;
    max-width: 275px;
}
.card__image{

}
.card-btn{
  text-decoration: none;
  color: black;
  padding: 15px;
  border: 1px solid black;
  font-weight: bold;
}
.card__text{
      margin-top: -10px;
}
.title {
  font-weight: normal;
}

.twitt{
display: flex;
background: #363839;
max-width: 350px;
padding: 10px;
}
.twitt__image{

  max-width: 70px;
  max-height: 65px;
}
.twitt__text{
  color: gray;
}
.twitt__date{
 color: white;
}
.gallery{
  display: flex;
  justify-content: space-around;
      text-align: center;
          margin: 0 200px;
}
.gallery__item{
background: #f7f7f7;
padding: 10px;
margin: 10px;
color: darkgray;
flex-basis: 30%;
}
.item__img{
    border-radius: 40px;
}
.label{
  display: flex;
  flex-direction: column;
align-items: center;
    width: 615px;
}
.label__img{
      text-align: center;
}
.label__item{
  color: gray;
  font-size: 16px;
 text-align: center;
}
.label__header{
  font-size: 45px;
  margin-bottom: 15px;
}
.label__image:first-child{
  margin-bottom: 5px;
}
.label__image:last-child{
  margin-bottom: 5px;
}
.text__font{
  font-family:cursive;
  font-size: 14px;
}
*{
  margin: 0;
  padding: 0;
}
.info{
  background: black;
display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info__image{
      margin-top: 35px;
  border-radius: 120px;
    margin-bottom: 50px;
}
.info__title{
  color: white;
  text-align: center;
  font-size: 38px;
  font-family: Geneva, Arial, Helvetica;
margin-bottom: 10px;
}
.info__line{
  margin: 50px;
  width: 60px;
}
.info__text{
  color: white;
      font-size: 19px;
      text-align: center;
      width: 750px;
}
.site-footer{
color: white;
display: flex;
    text-align: center;
        width: 730px;
}
.title__item{
  margin-bottom: 10px;
  color: white;
    margin:70px 105px 20px 20px;
}
.info__list{
  font-size: 50px;
}
.info__number{
  font-size: 19px;
  width: 143px;
}
