.block{
  display: flex;
  background: white;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 15px 30px 15px;
  max-width: 275px;
}
.card__image{

}
.card-btn{
  text-decoration: none;
  color: black;
  padding: 15px;
  border: 1px solid black;
  font-weight: bold;
  margin-top: 30px;
}
.card__text{
  margin-top: 15px;
}
.title {
  font-weight: normal;
}

.twitt{
  display: flex;
  background: #363839;
  max-width: 350px;
  padding: 10px;
}
.twitt__image{

  max-width: 70px;
  max-height: 65px;
}
.twitt__text{
  color: gray;
}
.twitt__date{
  color: white;
}
.gallery{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0 200px;
}
.gallery-item{
  background: #f7f7f7;
  padding: 10px;
  margin: 10px;
  color: darkgray;
  flex-basis: 30%;
}
.gallery-item__img{
  border-radius: 40px;
}
.post{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 615px;
}
.post__img{
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.post__item{
  color: gray;
  font-size: 16px;
  text-align: center;
}
.post__header{
  font-size: 45px;
  margin-bottom: 15px;
}

.post__line{
  height: 1px;
  background-color: silver;
  width: 255px;
  margin: 10px;
}

.text__item{
  font-family:cursive;
  font-size: 14px;
}
*{
  margin: 0;
  padding: 0;
}
.blog{
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.blog__image{
  margin-top: 35px;
  border-radius: 120px;
  margin-bottom: 50px;
}
.blog__title{
  color: white;
  text-align: center;
  font-size: 38px;
  font-family: Geneva, Arial, Helvetica;
  margin-bottom: 10px;
}
.blog__line{
  height: 2px;
  color: #6ec3be;
  background-color: #6ec3be;
  width: 80px;
  margin: 60px;
}
.blog__text{
  color: white;
  font-size: 19px;
  text-align: center;
  width: 750px;
}
.statistic-row{
  color: white;
  display: flex;
  text-align: center;
  width: 730px;
  margin-top: 50px;
  justify-content: space-between;
}
.title__img{
  background: url(C:/Users/brikb/Downloads/Test/img/aline.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px;
}

.statistic-item{
  margin-bottom: 10px;
  color: white;

}
.blog__list{
  font-size: 50px;
}
.blog__number{
  font-size: 19px;
  width: 170px;
}

.news{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.news__content{
  max-width: 705px;
  margin-left: 80px;

}
.news__text{
  margin-bottom: 60px;
  color: gray;
  margin-top: 40px;
}
.news__btn{
  text-decoration: none;
  color: black;
  padding: 15px;
  border: 2px solid black;
  font-weight: bold;
  border-radius: 5px;
}
.news__content h2{
  position: relative;
}
.news__title::after{
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background: black;
  left: 0px;
  bottom: 0px;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: gray;
}
.header__section{

}
a{
  text-decoration: none;
  color: black;
}
.header__list{
  display: flex;
  align-items: center;
}
.header__list-item{
  padding: 10px 15px;
  margin-left: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.header__list-img{
  width: 18px;
  height: 18px;
}
li{
  list-style-type: none;
}
.header__logo{
  border: 1px solid black;
  letter-spacing: 5px;
  font-size: 16px;
  font-family: sans-serif;
  padding: 15px;
}
.footer{
  margin: 20px;
}
.footer__main{
  background-image: url(C:/Users/brikb/Downloads/Test/img/bar.jpg);
  background-size: cover;
  width: 400px;
  height: 235px;
  color: white;
  display: flex;
}
.main__section{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 25px;
}
.footer__title{
  margin-bottom: 0;
}
.footer__rating{
  background: #30d830;
  border-radius: 16px;
  color: white;
  font-size: 20px;
  padding: 3px;
  margin-left: 10px;
}

.footer__top{
  margin: 10px;
}
.footer__image{
  height: 15px;
  width: 15px;
  margin-left: 5px;
}
.footer__image:last-child{
  margin-left: 190px;
  width: 20px;
  height: 20px;
}
.footer__img{
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.footer__text{
  margin-bottom: -5px;
}
.market{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 450px;
  width: 350px;
  border: 10px solid silver;
  padding: 10px;
}
.market__title{
  text-align: center;
  color: gray;
  font-size: 26px;
}
.title__text{
  font-size: 36px;
}
.list__img{
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
.market__list{
  color: gray;
}
.market__title::after{
  display: flex;
  content: "";
  width: 290px;
  height: 2px;
  background: aliceblue;;
}
.market-btn{
  background: green;
  text-decoration: none;
  color: white;
  padding: 10px;
  width: 250px;
  text-align: center;
  border-radius: 5px;
}
