@import "_variables";
.card{
  display: flex;
  flex-direction: column;
  align-items: $alignCenter;
  text-align: $alignCenter;
  padding: $padd;
  max-width: 275px;
  margin-bottom: 100px;
  background: gainsboro;

  &__text{
    margin-top: 15px;
  }

}
