.header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* background: gray; */
  background-image: url(C:/Users/brikb/Downloads/Test/img/background.jpg);
  margin-bottom: 100px;
}
