.statistic-row{
  color: white;
  display: flex;
  text-align: center;
  width: 730px;
  margin-top: 50px;
  justify-content: space-between;
}
.statistic-item{
  margin-bottom: 10px;
  color: white;
}
